* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#ship {
  display: flex;
}

.sunk {
  background-color: red;
}

.revealed {
  background-color: purple;
}
#page1,
#page2 {
  background-image: url("images/LoginBackground.png");
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat-x;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap:5%;
}


#login {
  display: flex;
  flex-direction: column;
  background-image: url("images/chest_open.gif");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height:1200px;
  width:600px;
}

#login input {
  width: 60%;
  border-radius: 10px;
  height: 30px;
  border: black 2px solid;
  text-align: center;
  font-size: 1rem;
}
#login h2 {
  color: white;
  background-color: rgb(146, 90, 17);
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  background-image: url("images/RogueWavelogo.png");
  width: 1212px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  align-self:center;

}
#page3 {
  background-image: url("images/planks.png");
  background-size: contain;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#page3 #gameContent {
  background-image: url("images/canvas background.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 80vw;
  height: 90%;
  background-size: contain;
  display: Flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}
#page3 button {
  border: black 5px solid;
  border-radius: 4px;
}
#loadscreen {
  display: flex;
  background-image: url("images/chest_close.gif");
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
  height:1200px;
  width:600px;
  justify-content: center;
  align-items:center;
}
#loading{
  z-index:2;
}
#loadingwheel {
  background-image: url("images/loading.png");
  background-repeat:no-repeat;
  background-size:contain;
  position:relative;
  flex-direction:column;
  height: 200px;
  width:200px;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

/* Define the animation for spinning */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}


